<!DOCTYPE html>
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="Real Logics verksamhet är baserad på unik expertis inom informations- och mjukvaruområdena samt dess tillämpningar. Real Logic arbetar inom områdena Webbutveckling, APIutveckling, Apputveckling, Cloud, Machine learning och AI, IoT, Automation, QA. Real Logic agerar i roller som Utvecklare, Tech lead, DevOps, IT-arkitekter och Lösningsarkitekter. Karlstad - Stockholm - Göteborg - Oslo"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Real Logic - Utveckla dig själv och din karriär</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  </head>

  <body>

    <div class="bg-white real-logic-body" id="about">
      <div class="relative overflow-hidden real-logic-inner-body">
        <header class="relative" id="header">
          <div class="bg-gray-900 py-6">
            <nav class="relative max-w-7xl mx-auto flex items-center justify-between px-4 sm:px-6" aria-label="Global">
              <div class="flex items-center flex-1">
                <div class="flex items-center justify-between w-full md:w-auto">
                  <a href="#">
                    <span class="sr-only">Real Logic</span>
                    <img class="h-10 w-auto sm:h-12" src="/assets/images/reallogic_logo.svg" alt="Real Logic logo">
                  </a>
                  <div class="-mr-2 flex items-center md:hidden">
                    <button id="open-button" type="button" class="bg-gray-900 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:bg-gray-800 focus:outline-none focus:ring-2 focus-ring-inset focus:ring-white" aria-expanded="false">
                      <span class="sr-only">Öpnna huvudmeny</span>
                      <!-- Heroicon name: outline/menu -->
                      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="hidden space-x-8 md:flex md:ml-10">
                  <a href="#about" class="text-base font-medium text-white hover:text-gray-300">Om</a>

                  <a href="#career" class="text-base font-medium text-white hover:text-gray-300">Karriär</a>
    
                  <a href="#areasofexpertise" class="text-base font-medium text-white hover:text-gray-300">Expertisområden</a>

                  <a href="#partners" class="text-base font-medium text-white hover:text-gray-300">Partners</a>
    
                  <a href="#jobs" class="text-base font-medium text-white hover:text-gray-300">Lediga tjänster</a>

                  <a href="#contact" class="text-base font-medium text-white hover:text-gray-300">Kontakt</a>
                </div>
              </div>
            </nav>
          </div>
    
          <!--
            Mobile menu, show/hide based on menu open state.
    
            Entering: "duration-150 ease-out"
              From: "opacity-0 scale-95"
              To: "opacity-100 scale-100"
            Leaving: "duration-100 ease-in"
              From: "opacity-100 scale-100"
              To: "opacity-0 scale-95"
          -->
          <!-- 
            deafult: hidden
           -->
          <div id="mobile-menu-wrapper" class="absolute top-0 inset-x-0 p-2 transition transform origin-top md:hidden hidden">
            <div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
              <div class="px-5 pt-4 flex items-center justify-between">
                <div>
                  <img class="h-12 w-auto" src="/assets/images/reallogic_logo.svg" alt="Real Logic logo">
                </div>
                <div class="-mr-2">
                  <button id="close-button" type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-cyan-600">
                    <span class="sr-only">Stäng huvudmeny</span>
                    <!-- Heroicon name: outline/x -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
              </div>
              <div class="pt-5 pb-6">
                <div class="px-2 space-y-1">
                  <a href="#about" class="block px-3 py-2 rounded-md text-base font-medium text-gray-900 hover:bg-gray-50">Om</a>

                  <a href="#career" class="block px-3 py-2 rounded-md text-base font-medium text-gray-900 hover:bg-gray-50">Karriär</a>
    
                  <a href="#areasofexpertise" class="block px-3 py-2 rounded-md text-base font-medium text-gray-900 hover:bg-gray-50">Expertisområden</a>
    
                  <a href="#partners" class="block px-3 py-2 rounded-md text-base font-medium text-gray-900 hover:bg-gray-50">Partners</a>
                  
                  <a href="#jobs" class="block px-3 py-2 rounded-md text-base font-medium text-gray-900 hover:bg-gray-50">Lediga tjänster</a>
    
                  <a href="#contact" class="block px-3 py-2 rounded-md text-base font-medium text-gray-900 hover:bg-gray-50">Kontakt</a>
                </div>
              </div>
            </div>
          </div>
        </header>

